<!doctype html>

<html>
	<head>
		<title>Bookmarks Retrieved - Category</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<meta charset = "UTF-8">
	</head>
<body>

<div id="outer">
<div id="inner">

<div class="centered">
<h2> Retrieving a bookmark: </h2>
</div>

{% if results %}
<div class="results">
	<h2>{{ category }} bookmarks:</h2>
	{% for name, url, description, dateAdded in results %}
		<p>
		<a href={{url}}>{{ name }}</a>
		<br> {{ description }}
		<br> {{ dateAdded }}
		</p>
	{% endfor %}

{% else %}
	<h1>No results returned.</h1>
{% endif %}

</div>
</div>
</div>
</body>
</html>