<!doctype html>

<html>
	<head>
		<title>Bookmarks Retrieved - Category</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<meta charset = "UTF-8">
	</head>
<body>

<div id="outer">
<div id="inner">

<div class="tag"><h2>{{ tag }}</h2></div>

<div class="results">
{% if results %}
	{% for name, url, description, dateAdded in results %}
		<p>
		<a href={{url}}>{{ name }}</a>
		<br> {{ description }}
		<br> Date Added: {{ dateAdded }}
		</p>
	{% endfor %}
{% else %}
  <h2>No entries found for {{ tag }}.</h2>
{% endif %}

</div>
</div>
</div>
</div>
</body>
</html>