<!doctype html>

<html>
	<head>
		<title>Bookmark Retrieved</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<meta charset = "UTF-8">
	</head>
<body>

<div id="outer">
<div id="inner">

<div class="centered">
<h2>Search Results: </h2>
</div>

<div class="results">
{% if results %}
	<h2>{{ category }} bookmarks:</h2>
	{% for name, url, description, dateAdded in results %}
		<p>
		<a href={{url}}>{{ name }}</a>
		<br> {{ description }}
		<br> Date Added: {{ dateAdded }}
		</p>
	{% endfor %}
{% elif url %}
  <p><a href={{url}}>{{name}}</a>
  <br>{{description}}
  <br> Date Visited: {{ dateVisited }} </p>
{% else %}
  <h1>Your search for "{{ searchword }}" did not turn up any results.</h1>
{% endif %}


</div>
</div>
</body>
</html>