<!doctype html>

<html>
	<head>
		<title>Bookmark Retrieved</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<meta charset = "UTF-8">
	</head>
<body>

<div id="outer">
<div id="inner">

<div class="centered">
<h2> Retrieving a bookmark: </h2>
</div>

{% if url %}
  <h1>Successfully retrieved {{ name }} from the database!</h1>
  <p> The url is: <a href={{url}}>{{ url }}</a></p>
  <p> Date Visited: {{ dateVisited }} </p>
{% else %}
  <h1>Found something?</h1>
{% endif %}


</div>
</div>
</body>
</html>