<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dead in the Water</title>
</head>
<body>
    <form action = "127.0.0.1:5000" method="get">
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>My Webpage</h1>
	
	<li> Console says:   {{ console }}
	<li> Your response goes in here: 
    <input name="response" type="text" maxlength = "300" id="input" autocomplete="off" />
    <button id="sendButton">Send response</button>
</form>
<!-- add button -->
    {{ response }}
	

    {# a comment #}
</body>
<!-- javascript -->
<script>
document.getElementById("sendButton").addEventListener("click", function() {
    var input = document.getElementById('input').textContent;
});

</script>
</html>